.box {
  width: 1000px;
  height: 1000px;
  background-image: url(images/background2.gif);
  background-repeat: no-repeat;
  background: center;
  background-size: cover;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* .box:hover {
  background-color: yellow;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
} */
